<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mapLayer1</key>
	<array>
		<string>mapLayer1_01A.png</string>
		<string>mapLayer1_01B.jpg</string>
		<string>mapLayer1_02A.png</string>
		<string>mapLayer1_02B.jpg</string>
		<string>mapLayer1_03A.png</string>
		<string>mapLayer1_03B.jpg</string>
		<string>mapLayer1_04A.png</string>
		<string>mapLayer1_04B.jpg</string>
		<string>mapLayer1_05A.png</string>
		<string>mapLayer1_05B.jpg</string>
		<string>mapLayer1_06A.png</string>
		<string>mapLayer1_06B.jpg</string>
		<string>mapLayer1_07A.png</string>
		<string>mapLayer1_07B.jpg</string>
		<string>mapLayer1_08A.png</string>
		<string>mapLayer1_08B.jpg</string>
		<string>mapLayer1_09A.png</string>
		<string>mapLayer1_09B.jpg</string>
		<string>mapLayer1_10A.png</string>
		<string>mapLayer1_10B.jpg</string>
		<string>mapLayer1_11A.png</string>
		<string>mapLayer1_11B.jpg</string>
		<string>mapLayer1_12A.png</string>
		<string>mapLayer1_12B.jpg</string>
		<string>mapLayer1_13A.png</string>
		<string>mapLayer1_13B.jpg</string>
		<string>mapLayer1_14A.png</string>
		<string>mapLayer1_14B.jpg</string>
		<string>mapLayer1_15A.png</string>
		<string>mapLayer1_15B.jpg</string>
		<string>mapLayer1_16A.png</string>
		<string>mapLayer1_16B.jpg</string>
		<string>mapLayer1_17A.png</string>
		<string>mapLayer1_17B.jpg</string>
		<string>mapLayer1_18A.png</string>
		<string>mapLayer1_18B.jpg</string>
		<string>mapLayer1_19A.png</string>
		<string>mapLayer1_19B.jpg</string>
	</array>
	<key>mapLayer4</key>
	<dict>
		<key>introSign</key>
		<dict>
			<key>sceneButtonNumber</key>
			<integer>0</integer>
			<key>img</key>
			<string>top_lvl4_objs_2.png</string>
			<key>position</key>
			<string>{1895.78, 165.75}</string>
			<key>buttonPosition</key>
			<string>{1895.78, 80}</string>
		</dict>
		<key>dude</key>
		<dict>
			<key>img</key>
			<string>top_lvl4_objs_3.png</string>
			<key>position</key>
			<string>{2591.55, 229.25}</string>
		</dict>
		<key>town</key>
		<dict>
			<key>sceneButtonNumber</key>
			<integer>1</integer>
			<key>img</key>
			<string>top_lvl4_objs_4.png</string>
			<key>position</key>
			<string>{3887.33, 182.5}</string>
			<key>buttonPosition</key>
			<string>{3887.33, 105}</string>
		</dict>
		<key>bar</key>
		<dict>
			<key>sceneButtonNumber</key>
			<integer>2</integer>
			<key>img</key>
			<string>top_lvl4_objs_5.png</string>
			<key>position</key>
			<string>{5183.1, 182.5}</string>
			<key>buttonPosition</key>
			<string>{5170, 160}</string>
		</dict>
		<key>gas</key>
		<dict>
			<key>sceneButtonNumber</key>
			<integer>3</integer>
			<key>img</key>
			<string>top_lvl4_objs_6.png</string>
			<key>position</key>
			<string>{6478.88, 160}</string>
			<key>buttonPosition</key>
			<string>{6478.88, 123}</string>
		</dict>
		<key>riverbed1</key>
		<dict>
			<key>sceneButtonNumber</key>
			<integer>4</integer>
			<key>img</key>
			<string>top_lvl4_objs_7.png</string>
			<key>position</key>
			<string>{8174.65, 183.25}</string>
			<key>buttonPosition</key>
			<string>{8167, 93}</string>
			<key>buttonAccessible</key>
			<string>top_lvl4_objs_6_ICON-on.png</string>
			<key>buttonLocked</key>
			<string>top_lvl4_objs_6_ICON-off.png</string>
			<key>buttonUnlocked</key>
			<string>top_lvl4_objs_6_ICON-press.png</string>
		</dict>
		<key>riverbed2</key>
		<dict>
			<key>sceneButtonNumber</key>
			<integer>5</integer>
			<key>img</key>
			<string>top_lvl4_objs_8.png</string>
			<key>position</key>
			<string>{9370.42, 160}</string>
			<key>buttonPosition</key>
			<string>{9420, 102}</string>
		</dict>
		<key>chase-cactus</key>
		<dict>
			<key>sceneButtonNumber</key>
			<integer>6</integer>
			<key>img</key>
			<string>top_lvl4_objs_9.png</string>
			<key>position</key>
			<string>{10366.2, 160}</string>
			<key>buttonPosition</key>
			<string>{10290, 120}</string>
		</dict>
		<key>lynch-noose</key>
		<dict>
			<key>sceneButtonNumber</key>
			<integer>7</integer>
			<key>img</key>
			<string>top_lvl4_objs_10A.png</string>
			<key>position</key>
			<string>{11662, 160}</string>
			<key>buttonPosition</key>
			<string>{11725, 105}</string>
		</dict>
		<key>campfire</key>
		<dict>
			<key>sceneButtonNumber</key>
			<integer>8</integer>
		</dict>
		<key>fence</key>
		<dict>
			<key>img</key>
			<string>top_lvl4_objs_1.png</string>
			<key>position</key>
			<string>{2150, 246.25}</string>
		</dict>
	</dict>
	<key>mapLayer3</key>
	<dict>
		<key>bar</key>
		<dict>
			<key>img</key>
			<string>mapLayer3_Saloon.png</string>
			<key>position</key>
			<string>{2230, 105}</string>
		</dict>
		<key>gas</key>
		<dict>
			<key>img</key>
			<string>mapLayer3_Gas.png</string>
			<key>position</key>
			<string>{2670, 160}</string>
		</dict>
	</dict>
	<key>mapLayer1B</key>
	<dict>
		<key>town</key>
		<dict>
			<key>img</key>
			<string>mapLayer1B_TownAFAR.png</string>
			<key>position</key>
			<string>{1625, 115}</string>
		</dict>
	</dict>
	<key>mapLayer1C</key>
	<dict>
		<key>townMountains</key>
		<dict>
			<key>img</key>
			<string>mapLayer1B_TownMTNS.png</string>
			<key>position</key>
			<string>{2800, 90}</string>
		</dict>
		<key>desertMountains</key>
		<dict>
			<key>img</key>
			<string>mapLayer1B_TownMTNS_desert1.png</string>
			<key>position</key>
			<string>{3525, 82}</string>
		</dict>
	</dict>
</dict>
</plist>
