<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mapLayer1</key>
	<array>
		<string>map1_01.png</string>
		<string>map1_02.png</string>
		<string>map1_03.png</string>
		<string>map1_04.png</string>
		<string>map1_05.png</string>
		<string>map1_06.png</string>
		<string>map1_07.png</string>
		<string>map1_08.png</string>
		<string>map1_09.png</string>
		<string>map1_10.png</string>
		<string>map1_11.png</string>
		<string>map1_12.png</string>
		<string>map1_13.png</string>
		<string>map1_14.png</string>
		<string>map1_15.png</string>
		<string>map1_16.png</string>
		<string>map1_17.png</string>
		<string>map1_18.png</string>
		<string>map1_19.jpg</string>
		<string>map1_20.jpg</string>
		<string>map1_21.jpg</string>
		<string>map1_22.jpg</string>
		<string>map1_23.jpg</string>
		<string>map1_24.jpg</string>
		<string>map1_25.jpg</string>
		<string>map1_26.jpg</string>
		<string>map1_27.jpg</string>
		<string>map1_28.jpg</string>
		<string>map1_29.jpg</string>
		<string>map1_30.jpg</string>
		<string>map1_31.jpg</string>
		<string>map1_32.jpg</string>
		<string>map1_33.jpg</string>
		<string>map1_34.jpg</string>
		<string>map1_35.jpg</string>
		<string>map1_36.jpg</string>
	</array>
	<key>mapLayer4</key>
	<array>
		<string>mapLayer4_01.png</string>
		<string>mapLayer4_02.png</string>
		<string>mapLayer4_03.png</string>
		<string>mapLayer4_04.png</string>
		<string>mapLayer4_05.png</string>
		<string>mapLayer4_06.png</string>
		<string>mapLayer4_07.png</string>
		<string>mapLayer4_08.png</string>
		<string>mapLayer4_09.png</string>
	</array>
</dict>
</plist>
