<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mapLayer1</key>
	<array>
		<string>mapLayer1_00A.jpg</string>
		<string>mapLayer1_00B.jpg</string>
		<string>mapLayer1_01A.png</string>
		<string>mapLayer1_01B.jpg</string>
		<string>mapLayer1_02A.png</string>
		<string>mapLayer1_02B.jpg</string>
		<string>mapLayer1_03A.png</string>
		<string>mapLayer1_03B.jpg</string>
		<string>mapLayer1_04A.png</string>
		<string>mapLayer1_04B.jpg</string>
		<string>mapLayer1_05A.png</string>
		<string>mapLayer1_05B.jpg</string>
		<string>mapLayer1_06A.png</string>
		<string>mapLayer1_06B.jpg</string>
		<string>mapLayer1_07A.png</string>
		<string>mapLayer1_07B.jpg</string>
		<string>mapLayer1_08A.png</string>
		<string>mapLayer1_08B.jpg</string>
		<string>mapLayer1_09A.png</string>
		<string>mapLayer1_09B.jpg</string>
		<string>mapLayer1_10A.png</string>
		<string>mapLayer1_10B.jpg</string>
		<string>mapLayer1_11A.png</string>
		<string>mapLayer1_11B.jpg</string>
		<string>mapLayer1_12A.png</string>
		<string>mapLayer1_12B.jpg</string>
		<string>mapLayer1_13A.png</string>
		<string>mapLayer1_13B.jpg</string>
		<string>mapLayer1_14A.png</string>
		<string>mapLayer1_14B.jpg</string>
		<string>mapLayer1_15A.png</string>
		<string>mapLayer1_15B.jpg</string>
		<string>mapLayer1_16A.png</string>
		<string>mapLayer1_16B.jpg</string>
		<string>mapLayer1_17A.png</string>
		<string>mapLayer1_17B.jpg</string>
		<string>mapLayer1_18A.png</string>
		<string>mapLayer1_18B.jpg</string>
		<string>mapLayer1_19A.png</string>
		<string>mapLayer1_19B.jpg</string>
		<string>mapLayer1_20A.jpg</string>
		<string>mapLayer1_20B.jpg</string>
	</array>
	<key>mapLayer4</key>
	<dict>
		<key>bottomAlignment</key>
		<true/>
		<key>boundsMultiplier</key>
		<string>{2.7, 1}</string>
		<key>zPosition</key>
		<integer>5</integer>
		<key>introSign</key>
		<dict>
			<key>sceneButtonNumber</key>
			<integer>0</integer>
			<key>img</key>
			<string>top_lvl4_objs_2.png</string>
			<key>position</key>
			<string>{1895, 165}</string>
			<key>buttonPosition</key>
			<string>{1895, 80}</string>
		</dict>
		<key>town</key>
		<dict>
			<key>sceneButtonNumber</key>
			<integer>1</integer>
			<key>img</key>
			<string>top_lvl4_objs_4.png</string>
			<key>position</key>
			<string>{3887, 182}</string>
			<key>buttonPosition</key>
			<string>{3887, 105}</string>
		</dict>
		<key>bar</key>
		<dict>
			<key>sceneButtonNumber</key>
			<integer>2</integer>
			<key>img</key>
			<string>top_lvl4_objs_5.png</string>
			<key>position</key>
			<string>{5183, 182}</string>
			<key>buttonPosition</key>
			<string>{5170, 160}</string>
			<key>name</key>
			<string>Are these barrels full of...whiskey?</string>
		</dict>
		<key>gas</key>
		<dict>
			<key>sceneButtonNumber</key>
			<integer>3</integer>
			<key>img</key>
			<string>top_lvl4_objs_6.png</string>
			<key>position</key>
			<string>{6478, 160}</string>
			<key>buttonPosition</key>
			<string>{6478, 123}</string>
		</dict>
		<key>riverbed1</key>
		<dict>
			<key>sceneButtonNumber</key>
			<integer>4</integer>
			<key>img</key>
			<string>top_lvl4_objs_7.png</string>
			<key>position</key>
			<string>{8174, 183}</string>
			<key>buttonPosition</key>
			<string>{8167, 93}</string>
			<key>buttonAccessible</key>
			<string>top_lvl4_objs_6_ICON-on.png</string>
			<key>buttonLocked</key>
			<string>top_lvl4_objs_6_ICON-off.png</string>
			<key>buttonUnlocked</key>
			<string>top_lvl4_objs_6_ICON-press.png</string>
		</dict>
		<key>riverbed2</key>
		<dict>
			<key>sceneButtonNumber</key>
			<integer>5</integer>
			<key>img</key>
			<string>top_lvl4_objs_8.png</string>
			<key>position</key>
			<string>{9370, 160}</string>
			<key>buttonPosition</key>
			<string>{9420, 102}</string>
			<key>name</key>
			<string>Wanted? Me? Pfffft.</string>
		</dict>
		<key>chase-cactus</key>
		<dict>
			<key>sceneButtonNumber</key>
			<integer>6</integer>
			<key>img</key>
			<string>top_lvl4_objs_9.png</string>
			<key>position</key>
			<string>{10366, 160}</string>
			<key>buttonPosition</key>
			<string>{10300, 115}</string>
			<key>name</key>
			<string>OWCH!! PRICKLY BASTARD!</string>
		</dict>
		<key>lynch-noose</key>
		<dict>
			<key>sceneButtonNumber</key>
			<integer>7</integer>
			<key>img</key>
			<string>top_lvl4_objs_10A.png</string>
			<key>position</key>
			<string>{11662, 160}</string>
			<key>buttonPosition</key>
			<string>{11720, 105}</string>
			<key>name</key>
			<string>Who wants to play hangman?</string>
		</dict>
		<key>campfire</key>
		<dict/>
	</dict>
	<key>mapLayer3</key>
	<dict>
		<key>boundsMultiplier</key>
		<string>{1, 1}</string>
		<key>zPosition</key>
		<integer>3</integer>
		<key>stump posts</key>
		<dict>
			<key>img</key>
			<string>stupid_looking_hill.png</string>
			<key>position</key>
			<string>{1750, 304}</string>
		</dict>
		<key>oil gate bush</key>
		<dict>
			<key>img</key>
			<string>cactus_bush.png2</string>
			<key>position</key>
			<string>{4150, 280}</string>
			<key>name</key>
			<string>Just a bush. So what?</string>
		</dict>
		<key>oil gate bush - 2</key>
		<dict>
			<key>img</key>
			<string>cactus_bush.png</string>
			<key>position</key>
			<string>{3600, 310}</string>
			<key>name</key>
			<string>You&apos;ve got a thing for bush, huh?</string>
		</dict>
		<key>fence</key>
		<dict>
			<key>img</key>
			<string>mapLayer4_fence.png</string>
			<key>position</key>
			<string>{850, 248}</string>
		</dict>
		<key>tombstone</key>
		<dict>
			<key>img</key>
			<string>tombStone_cacti.png</string>
			<key>position</key>
			<string>{4250, 280}</string>
			<key>name</key>
			<string>Rest in peace, my ass.</string>
		</dict>
		<key>rock_end</key>
		<dict>
			<key>img</key>
			<string>top_lvl4_objs_11.png</string>
			<key>position</key>
			<string>{5300, 195}</string>
			<key>name</key>
			<string>This is a mighty fine looking rock.</string>
		</dict>
		<key>gas station front</key>
		<dict>
			<key>img</key>
			<string>mapLayer2_gas_pumps.png</string>
			<key>position</key>
			<string>{2556, 182}</string>
			<key>name</key>
			<string>Fill er&apos; up. God I love the smell of gas. </string>
		</dict>
		<key>riverbed rocks</key>
		<dict>
			<key>img</key>
			<string>river_rocks_1.png</string>
			<key>position</key>
			<string>{3270, 265}</string>
			<key>name</key>
			<string>Don&apos;t trip, homie!</string>
		</dict>
	</dict>
	<key>mapLayer2</key>
	<dict>
		<key>boundsMultiplier</key>
		<string>{1, 1}</string>
		<key>zPosition</key>
		<integer>1</integer>
		<key>stump posts</key>
		<dict>
			<key>img</key>
			<string>stump_posts_back.png2</string>
			<key>position</key>
			<string>{3860, 220}</string>
		</dict>
		<key>bar</key>
		<dict>
			<key>img</key>
			<string>saloon_base.png2</string>
			<key>position</key>
			<string>{2150, 125}</string>
			<key>name</key>
			<string>They only place to get a drink around here.</string>
		</dict>
		<key>barFence</key>
		<dict>
			<key>img</key>
			<string>mapLayer2_saloon_fence.png2</string>
			<key>position</key>
			<string>{2380, 195}</string>
		</dict>
		<key>gas</key>
		<dict>
			<key>img</key>
			<string>mapLayer2_gas_station.png</string>
			<key>position</key>
			<string>{2705, 115}</string>
			<key>name</key>
			<string>Let&apos;s sniff fumes!</string>
		</dict>
		<key>truck</key>
		<dict>
			<key>img</key>
			<string>mapLayer2_blue_truck.png</string>
			<key>position</key>
			<string>{1140, 160}</string>
			<key>name</key>
			<string>The sherriff&apos;s in town, scoping out stuff.</string>
		</dict>
		<key>property sale fence</key>
		<dict>
			<key>img</key>
			<string>property_sale_fence.png</string>
			<key>position</key>
			<string>{950, 190}</string>
			<key>name</key>
			<string>Land for sale!? No one better sell to that Seersucker fucker!</string>
		</dict>
		<key>oil gate</key>
		<dict>
			<key>img</key>
			<string>front_oil_gate.png</string>
			<key>position</key>
			<string>{3950, 116}</string>
			<key>name</key>
			<string>Douchebag industries. Smoke up, Johnny!</string>
		</dict>
		<key>waterTower</key>
		<dict>
			<key>img</key>
			<string>mapLayer3_waterTower.png</string>
			<key>position</key>
			<string>{1478, 105}</string>
			<key>name</key>
			<string>Hold on tight to that water, fucksticks.</string>
		</dict>
	</dict>
	<key>mapLayer1B</key>
	<dict>
		<key>boundsMultiplier</key>
		<string>{1, 1}</string>
		<key>zPosition</key>
		<integer>-2</integer>
		<key>town</key>
		<dict>
			<key>img</key>
			<string>mapLayer1B_TownAFAR.png</string>
			<key>position</key>
			<string>{1625, 115}</string>
			<key>name</key>
			<string>There&apos;re some people I don&apos;t want to see in there.</string>
		</dict>
	</dict>
	<key>mapLayer1C</key>
	<dict>
		<key>boundsMultiplier</key>
		<string>{1, 1}</string>
		<key>zPosition</key>
		<integer>-3</integer>
		<key>townMountains</key>
		<dict>
			<key>img</key>
			<string>mapLayer1B_TownMTNS.png</string>
			<key>position</key>
			<string>{2800, 90}</string>
		</dict>
		<key>desertMountains</key>
		<dict>
			<key>img</key>
			<string>mapLayer1B_TownMTNS_desert1.png</string>
			<key>position</key>
			<string>{3525, 82}</string>
		</dict>
		<key>entryMountains1</key>
		<dict>
			<key>img</key>
			<string>mapLayer1B_EntryMTNS_q.png</string>
			<key>position</key>
			<string>{1000, 82}</string>
		</dict>
		<key>entryMountains2</key>
		<dict>
			<key>img</key>
			<string>mapLayer1B_EntryMTNS_B.png</string>
			<key>position</key>
			<string>{1875, 90}</string>
		</dict>
	</dict>
</dict>
</plist>
