<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>server_url</key>
		<string>https://tumbleweed-staging.herokuapp.com</string>
		<key>foursquare_client_id</key>
		<string>5D2AM5KIP0MOCIGLRAWLUDWYUVZALAYUXL0FHQ5LGSS2BXQ4</string>
		<key>callback_url</key>
		<string>http://tumbleweed.me/auth</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>server_url</key>
		<string>https://tumbleweed.herokuapp.com</string>
		<key>foursquare_client_id</key>
		<string>RXR0VFFRHB52WFH3B05ST0WX0414O0D5BPG0Y3NYXCTN1PTU</string>
		<key>callback_url</key>
		<string>http://tumbleweed.me/auth</string>
	</dict>
</dict>
</plist>
