<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Scenes</key>
	<array>
		<dict>
			<key>name</key>
			<string>No Man&apos;s Land</string>
			<key>movieName</key>
			<string>01_Intro</string>
			<key>hintCopy</key>
			<string>Legend has it that great adventures start by connecting to Foursquare. Walk on back.</string>
			<key>checkInCopy</key>
			<string>STARRING</string>
			<key>bonus</key>
			<string></string>
			<key>sceneType</key>
			<dict>
				<key>type</key>
				<string>Empty</string>
			</dict>
			<key>movieButtonOn</key>
			<string>S1_unlocked_Default.jpg</string>
			<key>movieButtonOff</key>
			<string>S1_locked_Default.jpg</string>
			<key>movieTextOn</key>
			<string>S1_unlocked_TXT.png</string>
			<key>movieTextOff</key>
			<string>S1_locked_TXT.png</string>
			<key>buttonAccessible</key>
			<string>top_lvl4_objs_2_ICON-on.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Deal</string>
			<key>level</key>
			<integer>0</integer>
			<key>movieName</key>
			<string>02_TheDeal</string>
			<key>sceneType</key>
			<dict>
				<key>type</key>
				<string>FSQexplorenew</string>
				<key>sectionId</key>
				<string>shops</string>
				<key>categoryId</key>
				<string>4d4b7105d754a06378d81259</string>
				<key>categoryHint</key>
				<string>a SHOP where you can buy some stuff.</string>
				<key>radius</key>
				<string>250</string>
			</dict>
			<key>hintCopy</key>
			<string>Start exploring town - or the outskirts. There could be some shady deals going down.</string>
			<key>checkInCopy</key>
			<string>go to where the deals are:</string>
			<key>bonus</key>
			<string></string>
			<key>movieButtonOn</key>
			<string>S2_unlocked_Default.jpg</string>
			<key>movieButtonOff</key>
			<string>S2_locked_Default.jpg</string>
			<key>movieTextOn</key>
			<string>S2_unlocked_TXT.png</string>
			<key>movieTextOff</key>
			<string>S2_locked_TXT.png</string>
			<key>buttonAccessible</key>
			<string>top_lvl4_objs_3_ICON-on.png</string>
			<key>buttonLocked</key>
			<string>top_lvl4_objs_3_ICON-off.png</string>
			<key>buttonUnlocked</key>
			<string>top_lvl4_objs_3_ICON-press.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Saloon</string>
			<key>level</key>
			<integer>1</integer>
			<key>movieName</key>
			<string>03_Bar</string>
			<key>categoryId</key>
			<string>4d4b7105d754a06376d81259</string>
			<key>hintCopy</key>
			<string> Let’s find a stool with the best vantage point. I hate being thirsty. </string>
			<key>checkInCopy</key>
			<string>grab a stool at a saloon:</string>
			<key>bonus</key>
			<string></string>
			<key>sceneType</key>
			<dict>
				<key>categoryHint</key>
				<string>a SALOON or RESTAURANT.</string>
				<key>sectionId</key>
				<string>drinks</string>
				<key>type</key>
				<string>FSQexplorenew</string>
				<key>categoryId</key>
				<string>4d4b7105d754a06378d81259</string>
				<key>radius</key>
				<string>250</string>
			</dict>
			<key>movieButtonOn</key>
			<string>S3_unlocked_Default.jpg</string>
			<key>movieButtonOff</key>
			<string>S3_locked_Default.jpg</string>
			<key>movieTextOn</key>
			<string>S3_unlocked_TXT.png</string>
			<key>movieTextOff</key>
			<string>S3_locked_TXT.png</string>
			<key>buttonAccessible</key>
			<string>top_lvl4_objs_4_ICON-on.png</string>
			<key>buttonLocked</key>
			<string>top_lvl4_objs_4_ICON-off.png</string>
			<key>buttonUnlocked</key>
			<string>top_lvl4_objs_4_ICON-press.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Gas Station</string>
			<key>level</key>
			<integer>2</integer>
			<key>movieName</key>
			<string>04_GasStation</string>
			<key>hintCopy</key>
			<string>Leaving town? Strangers always stop here on their way out.</string>
			<key>checkInCopy</key>
			<string>catch him on his way:</string>
			<key>bonus</key>
			<string></string>
			<key>sceneType</key>
			<dict>
				<key>categoryHint</key>
				<string>a TRAVEL HUB of any kind.</string>
				<key>query</key>
				<string>travel</string>
				<key>type</key>
				<string>FSQsearch</string>
				<key>categoryId</key>
				<string>4bf58dd8d48988d113951735,4d4b7105d754a06379d81259</string>
				<key>radius</key>
				<string>250</string>
			</dict>
			<key>movieButtonOn</key>
			<string>S4_unlocked_Default.jpg</string>
			<key>movieButtonOff</key>
			<string>S4_locked_Default.jpg</string>
			<key>movieTextOn</key>
			<string>S4_unlocked_TXT.png</string>
			<key>movieTextOff</key>
			<string>S4_locked_TXT.png</string>
			<key>buttonAccessible</key>
			<string>top_lvl4_objs_5_ICON-on.png</string>
			<key>buttonLocked</key>
			<string>top_lvl4_objs_5_ICON-off.png</string>
			<key>buttonUnlocked</key>
			<string>top_lvl4_objs_5_ICON-press.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Riverbed</string>
			<key>level</key>
			<integer>3</integer>
			<key>movieName</key>
			<string>05_Riverbed</string>
			<key>hintCopy</key>
			<string>It&apos;s a hot day. Perfect for a dunk, a dip, and baptism...</string>
			<key>checkInCopy</key>
			<string>take him outside:</string>
			<key>bonus</key>
			<string></string>
			<key>sceneType</key>
			<dict>
				<key>categoryHint</key>
				<string>some OUTDOORSY place.</string>
				<key>sectionId</key>
				<string>outdoors</string>
				<key>type</key>
				<string>FSQexplorenew</string>
				<key>categoryId</key>
				<string></string>
				<key>radius</key>
				<string>250</string>
			</dict>
			<key>movieButtonOn</key>
			<string>S5_unlocked_Default.jpg</string>
			<key>movieButtonOff</key>
			<string>S5_locked_Default.jpg</string>
			<key>movieTextOn</key>
			<string>S5_unlocked_TXT.png</string>
			<key>movieTextOff</key>
			<string>S5_locked_TXT.png</string>
			<key>buttonAccessible</key>
			<string>top_lvl4_objs_6_ICON-on.png</string>
			<key>buttonLocked</key>
			<string>top_lvl4_objs_6_ICON-off.png</string>
			<key>buttonUnlocked</key>
			<string>top_lvl4_objs_6_ICON-press.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Body</string>
			<key>movieName</key>
			<string>06_Rivernight</string>
			<key>level</key>
			<integer>4</integer>
			<key>hintCopy</key>
			<string>What was that all about? I need some time to think...</string>
			<key>checkInCopy</key>
			<string>news travels fast. this fast.</string>
			<key>bonus</key>
			<string></string>
			<key>sceneType</key>
			<dict>
				<key>type</key>
				<string>FSQsearch</string>
				<key>radius</key>
				<string>9000</string>
				<key>categoryHint</key>
				<string>a CEMETERY.</string>
				<key>categoryId</key>
				<string>4bf58dd8d48988d15c941735</string>
			</dict>
			<key>movieButtonOn</key>
			<string>S6_unlocked_Default.jpg</string>
			<key>movieButtonOff</key>
			<string>S6_locked_Default.jpg</string>
			<key>movieTextOn</key>
			<string>S6_unlocked_TXT.png</string>
			<key>movieTextOff</key>
			<string>S6_locked_TXT.png</string>
			<key>buttonAccessible</key>
			<string>top_lvl4_objs_7_ICON-on.png</string>
			<key>buttonLocked</key>
			<string>top_lvl4_objs_7_ICON-off.png</string>
			<key>buttonUnlocked</key>
			<string>top_lvl4_objs_7_ICON-press.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The Chase</string>
			<key>movieName</key>
			<string>07_DesertChase</string>
			<key>level</key>
			<integer>5</integer>
			<key>hintCopy</key>
			<string>Uh oh. Where can I go where no one will find me? </string>
			<key>checkInCopy</key>
			<string>go where you&apos;ve never been:</string>
			<key>bonus</key>
			<string></string>
			<key>sceneType</key>
			<dict>
				<key>categoryHint</key>
				<string>an OUTDOORSY place you&apos;ve never been to before.</string>
				<key>novelty</key>
				<string>new</string>
				<key>sectionId</key>
				<string>outdoors</string>
				<key>type</key>
				<string>FSQexplorenew</string>
				<key>radius</key>
				<string>9000</string>
			</dict>
			<key>movieButtonOn</key>
			<string>S7_unlocked_Default.jpg</string>
			<key>movieButtonOff</key>
			<string>S7_locked_Default.jpg</string>
			<key>movieTextOn</key>
			<string>S7_unlocked_TXT.png</string>
			<key>movieTextOff</key>
			<string>S7_locked_TXT.png</string>
			<key>buttonAccessible</key>
			<string>top_lvl4_objs_8_ICON-on.png</string>
			<key>buttonLocked</key>
			<string>top_lvl4_objs_8_ICON-off.png</string>
			<key>buttonUnlocked</key>
			<string>top_lvl4_objs_8_ICON-press.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dead Heat</string>
			<key>movieName</key>
			<string>08_DesertLynch</string>
			<key>level</key>
			<integer>6</integer>
			<key>categoryId</key>
			<string>4d4b7105d754a06378d81259</string>
			<key>hintCopy</key>
			<string>Keep moving! You can&apos;t slow down now.</string>
			<key>checkInCopy</key>
			<string>get out of the danger zone:</string>
			<key>bonus</key>
			<string></string>
			<key>sceneType</key>
			<dict>
				<key>type</key>
				<string>FSQexplorenew</string>
				<key>sectionId</key>
				<string>sights</string>
				<key>radius</key>
				<string>9000</string>
				<key>categoryHint</key>
				<string>a SIGHT of interest.</string>
			</dict>
			<key>movieButtonOn</key>
			<string>S8_unlocked_Default.jpg</string>
			<key>movieButtonOff</key>
			<string>S8_locked_Default.jpg</string>
			<key>movieTextOn</key>
			<string>S8_unlocked_TXT.png</string>
			<key>movieTextOff</key>
			<string>S8_locked_TXT.png</string>
			<key>buttonAccessible</key>
			<string>top_lvl4_objs_9_ICON-on.png</string>
			<key>buttonLocked</key>
			<string>top_lvl4_objs_9_ICON-off.png</string>
			<key>buttonUnlocked</key>
			<string>top_lvl4_objs_9_ICON-press.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>The End</string>
			<key>movieName</key>
			<string>09_Campfire</string>
			<key>level</key>
			<integer>7</integer>
			<key>hintCopy</key>
			<string>I smell fire. Seems to be smoke coming from the east...</string>
			<key>checkInCopy</key>
			<string>It&apos;s just a story, silly goose.</string>
			<key>bonus</key>
			<string></string>
			<key>sceneType</key>
			<dict>
				<key>type</key>
				<string>Empty</string>
			</dict>
			<key>movieButtonOn</key>
			<string>S9_unlocked_Default.jpg</string>
			<key>movieButtonOff</key>
			<string>S9_locked_Default.jpg</string>
			<key>movieTextOn</key>
			<string>S9_unlocked_TXT.png</string>
			<key>movieTextOff</key>
			<string>S9_locked_TXT.png</string>
			<key>buttonAccessible</key>
			<string>top_lvl4_objs_10_ICON-on.png</string>
			<key>buttonUnlocked</key>
			<string>top_lvl4_objs_10_ICON-press.png</string>
		</dict>
	</array>
</dict>
</plist>
